body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
}

.level-indicator {
  font-size: 1.55em;
}

.right-side {
  width: 150px;
}

.highscore {
  font-size: 1.1em;
  margin-left: 122px;
}

.start-button {
  width: 300px;
  height: 200px;
  margin-top: 200px;
  font-size: 1.25em;
}

header {
  display: none;
  justify-content: space-between;
  width: 909px;
  margin: auto;
  align-items: center;

}

.swal-button {
  width: 438px;
  height: 100px;
  font-size: 30px;
  background-color: #303030;
  color: #a5dc86;
}

.swal-footer {
  text-align: center;
}

.swal-title {
  font-size: 42px;
}

.swal-text {
  font-size: 25px;
}